/NetBeansProjects/figures_s2/build/
/NetBeansProjects/figures_s2/dist/
/NetBeansProjects/figures_s2/nbproject/private/
/NetBeansProjects/llistapal_s_1/build/
/NetBeansProjects/llistapal_s_1/nbproject/private/
/NetBeansProjects/pruebaDaw/nbproject/private/
